* {
  font-family: 'Noto Sans KR', sans-serif;
}

/* index.html */

.landing {
  min-height: 500px;
  height: 70vh;
  background-color: #0D6EFD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.landing h1 {
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding-bottom: 3px;
  font-weight: 700;
}

.landing p {
  margin-bottom: 2px;
}

.footer {
  height: 30vh;
  background-color: #E8EEF4;
  color: #7C8081;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* test.html */

.header {
  min-height: 60px;
  height: 10vh;
  background-color: #0D6EFD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.header h1 {
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding-bottom: 3px;
  font-weight: 700;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #eeeeee;
  padding: 50px 0;
}

.question h2 {
  font-weight: 700;
}

.question p {
  width: 80%;
  text-align: center;
}

/* result.html */

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 0;
}

.result img {
  max-width: 500px;
  width: 80%;
}

.kakao-ad {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 100px;
}
