.txt-hide{
	position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}


/* reset */

button {
  /* background: none;
  border: none; */
}

.cont-select {
  padding: 20px;
  background-color: #fff;
  margin: 30px auto 0;
  border: 1px solid black ;
  width: 300px;
}

.btn-select {
  display: block;
  width: 200px;
  font-size: 14px;
  line-height: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #C4C4C4;
  padding: 13px 0 13px 14px;
  text-align: left;
  margin-bottom: 9px;
  background-color: #FFFFFF;
}

.btn-select::after {
  content: '';
  background-image: url(./icon-Triangle-up.png);
  width: 10px;
  height: 10px;
  float: right;
  margin-right: 13px;
  margin-top: 3px;
}

.btn-select.on {
  border: 1px solid #9B51E0;
}

.list-member {
  box-sizing: border-box;
  width: 200px;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  font-size: 14px;
  line-height: 16px;
  overflow: hidden;
}

.list-member li {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 5px 8px;
}


.list-member li button{
  width: 100%;
  text-align: left;
  border: none;
  cursor: pointer;
  background-color: #fff;
  padding: 7px 0 7px 10px;
  border-radius: 8px;
}

.list-member li button:hover {
  background-color: #F8E4FF;
}